<div class="modal modal-complect" id="modal-complect-3" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__scroll-wrapper" data-simplebar>
      <div class="modal__inner">
        <div class="modal__content">
          <h2 class="modal-complect__title section-title centered">комплектация <span>MaxiSys</span> MS906 Pro Max</h2>
          <div class="modal-complect__inner" data-show-more-parent>
            <ul class="modal-complect__list">
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-1.avif 1x, img/complect-1@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-1.webp 1x, img/complect-1@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-1.png"
                        srcset="img/complect-1.png 1x, img/complect-1@2x.png 2x" width="143" height="117" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Ткань для очистки&nbsp;экрана</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-2.avif 1x, img/complect-2@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-2.webp 1x, img/complect-2@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-2.png"
                        srcset="img/complect-2.png 1x, img/complect-2@2x.png 2x" width="141" height="99" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер Ethernet-<br>USB</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-3.avif 1x, img/complect-3@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-3.webp 1x, img/complect-3@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-3.png"
                        srcset="img/complect-3.png 1x, img/complect-3@2x.png 2x" width="170" height="110" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Диагностический сканер Autel MaxiSys MS906 Pro</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-4.avif 1x, img/complect-4@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-4.webp 1x, img/complect-4@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-4.png"
                        srcset="img/complect-4.png 1x, img/complect-4@2x.png 2x" width="100" height="100" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Беспроводной адаптер MaxiVCI V200</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-5.avif 1x, img/complect-5@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-5.webp 1x, img/complect-5@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-5.png"
                        srcset="img/complect-5.png 1x, img/complect-5@2x.png 2x" width="171" height="118" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кейс для хранения</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-6.avif 1x, img/complect-6@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-6.webp 1x, img/complect-6@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-6.png"
                        srcset="img/complect-6.png 1x, img/complect-6@2x.png 2x" width="141" height="124" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер внешнего питания</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-7.avif 1x, img/complect-7@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-7.webp 1x, img/complect-7@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-7.png"
                        srcset="img/complect-7.png 1x, img/complect-7@2x.png 2x" width="153" height="113" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кабель USB Type C</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">2 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-8.avif 1x, img/complect-8@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-8.webp 1x, img/complect-8@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-8.png"
                        srcset="img/complect-8.png 1x, img/complect-8@2x.png 2x" width="133" height="87" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Предохранители <br> плавкие</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-9.avif 1x, img/complect-9@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-9.webp 1x, img/complect-9@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-9.png"
                        srcset="img/complect-9.png 1x, img/complect-9@2x.png 2x" width="125" height="105" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Осциллограф MaxiScope</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-10.avif 1x, img/complect-10@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-10.webp 1x, img/complect-10@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-10.png"
                        srcset="img/complect-10.png 1x, img/complect-10@2x.png 2x" width="86" height="112" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Руководство по <br> быстрому запуску</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-11.avif 1x, img/complect-11@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-11.webp 1x, img/complect-11@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-11.png"
                        srcset="img/complect-11.png 1x, img/complect-11@2x.png 2x" width="78" height="112" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Лист комплектации</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">2 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-12.avif 1x, img/complect-12@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-12.webp 1x, img/complect-12@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-12.png"
                        srcset="img/complect-12.png 1x, img/complect-12@2x.png 2x" width="116" height="73" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Крокодиловые <br> зажимы маленькие</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-13.avif 1x, img/complect-13@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-13.webp 1x, img/complect-13@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-13.png"
                        srcset="img/complect-13.png 1x, img/complect-13@2x.png 2x" width="145" height="95" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Набор из 2-х щупов мультиметра</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-14.avif 1x, img/complect-14@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-14.webp 1x, img/complect-14@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-14.png"
                        srcset="img/complect-14.png 1x, img/complect-14@2x.png 2x" width="116" height="116" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Набор из 5-ти игольчатых пробников</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-15.avif 1x, img/complect-15@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-15.webp 1x, img/complect-15@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-15.png"
                        srcset="img/complect-15.png 1x, img/complect-15@2x.png 2x" width="104" height="104" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Аттенюатор 20:1</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">2 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-16.avif 1x, img/complect-16@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-16.webp 1x, img/complect-16@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-16.png"
                        srcset="img/complect-16.png 1x, img/complect-16@2x.png 2x" width="154" height="82" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Крокодиловые <br> зажимы большие</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-17.avif 1x, img/complect-17@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-17.webp 1x, img/complect-17@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-17.png"
                        srcset="img/complect-17.png 1x, img/complect-17@2x.png 2x" width="145" height="95" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Двухпроводный отвод</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-18.avif 1x, img/complect-18@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-18.webp 1x, img/complect-18@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-18.png"
                        srcset="img/complect-18.png 1x, img/complect-18@2x.png 2x" width="158" height="119" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер для вторичной цепи зажигания</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-19.avif 1x, img/complect-19@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-19.webp 1x, img/complect-19@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-19.png"
                        srcset="img/complect-19.png 1x, img/complect-19@2x.png 2x" width="153" height="113" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">USB кабель</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">4 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-20.avif 1x, img/complect-20@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-20.webp 1x, img/complect-20@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-19.png"
                        srcset="img/complect-20.png 1x, img/complect-20@2x.png 2x" width="112" height="112" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Экранированный измерительный провод</div>
                </a>
              </li>
            </ul>
            <div class="modal-complect__btn centered">
              <button class="btn-link" data-show-more>Смотреть всё</button>
            </div>
          </div>
          <button class="modal__close" data-modal-close><img src="img/close-icon.svg" width="21" height="21"
              alt="Закрыть окно"></button>
        </div>
      </div>
    </div>
  </div>
</div>
