<div class="modal modal-chars" id="modal-chars" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__scroll-wrapper" data-simplebar>
      <div class="modal__inner">
        <div class="modal__content">
          <h2 class="modal-chars__title section-title centered">характеристики <span>MaxiSys</span> MS906S</h2>

          <button class="modal__close" data-modal-close><img src="img/close-icon.svg" width="21" height="21"
              alt="Закрыть окно"></button>
        </div>
      </div>
    </div>
  </div>
</div>
