<div class="modal modal-chars" id="modal-chars" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__scroll-wrapper" data-simplebar>
      <div class="modal__inner">
        <div class="modal__content">
          <h2 class="modal-chars__title section-title centered">характеристики <span>MaxiSys</span> MS906S</h2>
          <div class="modal__table modal-table">
            <table>
              <thead>
                <tr>
                  <td class="modal-table__title">Сравнительная таблица приборов MaxiSys</td>
                  <td>
                    <picture>
                      <source srcset="img/product-1.avif 1x, img/product-1@2x.avif 2x" type="image/avif">
                      <source srcset="img/product-1.webp 1x, img/product-1@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/product-1.jpg" srcset="img/product-1.jpg 1x, img/product-1@2x.jpg 2x"
                        width="182" height="111" alt="">
                    </picture>
                  </td>
                  <td>
                    <picture>
                      <source srcset="img/product-2.avif 1x, img/product-2@2x.avif 2x" type="image/avif">
                      <source srcset="img/product-2.webp 1x, img/product-2@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/product-2.jpg" srcset="img/product-2.jpg 1x, img/product-2@2x.jpg 2x"
                        width="182" height="111" alt="">
                    </picture>
                  </td>
                  <td>
                    <picture>
                      <source srcset="img/product-3.avif 1x, img/product-3@2x.avif 2x" type="image/avif">
                      <source srcset="img/product-3.webp 1x, img/product-3@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/product-3.jpg" srcset="img/product-3.jpg 1x, img/product-3@2x.jpg 2x"
                        width="182" height="111" alt="">
                    </picture>
                  </td>
                </tr>
                <tr>
                  <td class="modal-table__subtitle">Maxisys</td>
                  <td class="modal-table__subtitle">MS906S</td>
                  <td class="modal-table__subtitle">MS906 Pro</td>
                  <td class="modal-table__subtitle">MS906 Pro MAX</td>
                </tr>
              </thead>
              <tbody>
                <tr class="modal-table__spoiler">
                  <td colspan="4">
                    Диагностические функции
                    <img src="img/arrow-down-red-icon.svg" width="16" height="16" alt="toggle">
                  </td>
                </tr>
                <tr>
                  <td>Типы поддерживаемых систем и транспортных&nbsp;средств</td>
                  <td class="modal-table__item-sm" colspan="3">Легковые / Легкий коммерческий транспорт / Среднетоннажные грузовики (несколько производителей)
                  </td>
                </tr>
                <tr>
                  <td>Кол-во поддерживаемых марок</td>
                  <td>86</td>
                  <td>94</td>
                  <td>94</td>
                </tr>
                <tr>
                  <td>Адаптеры OBD-I, шт.</td>
                  <td>11</td>
                  <td>11 (Опция)</td>
                  <td>11 (Опция)</td>
                </tr>
                <tr>
                  <td>Функции базовой диагностики систем (ошибки, параметры, активации, тест-блоки, адаптиации)</td>
                  <td>•</td>
                  <td>•</td>
                  <td>•</td>
                </tr>
                <tr>
                  <td>Сервисные функции</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>Функции активации исполнительных механизмов</td>
                  <td class="modal-table__item-sm">BI-DIRECTIONAL CONTROL</td>
                  <td class="modal-table__item-sm">BI-DIRECTIONAL CONTROL</td>
                  <td class="modal-table__item-sm">BI-DIRECTIONAL CONTROL</td>
                </tr>
                <tr>
                  <td>Функции offline кодирования ECU и настройки авто под клиента</td>
                  <td>X</td>
                  <td>•</td>
                  <td>•</td>
                </tr>
                <tr>
                  <td>Функции online и offline кодирования и программирования ECU</td>
                  <td>X</td>
                  <td>X</td>
                  <td>X</td>
                </tr>
                <tr>
                  <td>Функции OEM диагностики и программирования J2534</td>
                  <td>X</td>
                  <td>X</td>
                  <td>X</td>
                </tr>
                <tr>
                  <td>Функции осциллографа</td>
                  <td>• (Опция)</td>
                  <td>• (Опция)</td>
                  <td>•</td>
                </tr>
                <tr>
                  <td>Функции видеоэндоскопа</td>
                  <td>• (Опция)</td>
                  <td>• (Опция)</td>
                  <td>• (Опция)</td>
                </tr>
                <tr>
                  <td>Функции тестера АКБ</td>
                  <td>• (Опция)</td>
                  <td>• (Опция)</td>
                  <td>•</td>
                </tr>
                <tr>
                  <td>Функции мультиметра</td>
                  <td>X</td>
                  <td>X</td>
                  <td>X</td>
                </tr>
                <tr>
                  <td>Функции генератора сигналов</td>
                  <td>X</td>
                  <td>X</td>
                  <td>X</td>
                </tr>
                <tr>
                  <td>Функции CAN BUS CHECK</td>
                  <td>X</td>
                  <td>X</td>
                  <td>X</td>
                </tr>
                <tr>
                  <td>Функции ADAS</td>
                  <td>X</td>
                  <td>• (Опция)</td>
                  <td>• (Опция)</td>
                </tr>
                <tr>
                  <td>Функции программировния датчиков TMPS</td>
                  <td>X</td>
                  <td>X</td>
                  <td>X</td>
                </tr>
                <tr>
                  <td>Технология ECU, TBS, подсказки по ремонту, типовые неисправности</td>
                  <td>X</td>
                  <td>X</td>
                  <td>X</td>
                </tr>
                <tr>
                  <td>Функция SPLIT SCREEN</td>
                  <td>X</td>
                  <td>X</td>
                  <td>X</td>
                </tr>
                <tr>
                  <td>Автоматическое определение марки и модели</td>
                  <td>AUTO-VIN</td>
                  <td>AUTO-VIN / AUTO-SCAN</td>
                  <td>AUTO-VIN / AUTO-SCAN</td>
                </tr>
                <tr>
                  <td>Функции REMOTE EXPERT</td>
                  <td>X</td>
                  <td>•</td>
                  <td>•</td>
                </tr>
                <tr class="modal-table__spoiler">
                  <td colspan="4">
                    Информация по ремонту и обслуживанию автомобилей
                    <img src="img/arrow-down-red-icon.svg" width="16" height="16" alt="toggle">
                  </td>
                </tr>
                <tr>
                  <td>Документация Haynes Pro</td>
                  <td colspan="3">Haynes Pro Electronics Full / опция Haynes Pro Tech Full / опция</td>
                </tr>
                <tr>
                  <td>Обновление функций диагностики</td>
                  <td>2 года бесплатно</td>
                  <td>2 года бесплатно</td>
                  <td>2 года бесплатно</td>
                </tr>
                <tr>
                  <td>Онлайн доступ кодирование, программирование, Repair Assist</td>
                  <td>X</td>
                  <td>•</td>
                  <td>•</td>
                </tr>
                <tr class="modal-table__spoiler">
                  <td colspan="4">
                    Технические характеристики VCI
                    <img src="img/arrow-down-red-icon.svg" width="16" height="16" alt="toggle">
                  </td>
                </tr>
                <tr>
                  <td>Диагностческий интерфейс VCI</td>
                  <td>MaxiVCI Mini</td>
                  <td>MaxiVCI 200</td>
                  <td>MaxiVCI 200</td>
                </tr>
                <tr>
                  <td class="modal-table__item-top">Поддержка протоколов передачи данных</td>
                  <td class="modal-table__item-sm">ISO 9142-2, ISO 14230-2, ISO 15765, K/l-Line, Flashing Code, SAE-J1850 VPW, SAE-J1850 PWM, CAN ISO 11898, Highspeed,
                  Middlespeed, Lowspeed и Singlewire CAN, fault-tolerant CAN, SAE J2610, GM UART, UART Echo Byte Protocol, Honda Diag-H
                  Protocol, TP2.0, TP1.6</td>
                  <td class="modal-table__item-sm">Doip, CAN-FD, ISO 9142-2, ISO 14230-2, ISO 15765-4, K-Line, L-Line, Flashing Code, SAE-J1850 VPW, SAE-J1850 PWM, CAN ISO
                  11898, High speed, Middle speed, Low speed и Single wire CAN, GM UART, UART Echo Byte, Honda Diag-H, TP 2.0, TP 1.6, SAE
                  J1939, SAE J1708, Fault-Tolerant CAN</td>
                  <td class="modal-table__item-sm">Doip, CAN-FD, ISO 9142-2, ISO 14230-2, ISO 15765-4, K-Line, L-Line, Flashing Code, SAE-J1850 VPW, SAE-J1850 PWM, CAN ISO
                  11898, High speed, Middle speed, Low speed и Single wire CAN, GM UART, UART Echo Byte, Honda Diag-H, TP 2.0, TP 1.6, SAE
                  J1939, SAE J1708, Fault-Tolerant CAN</td>
                </tr>
                <tr class="modal-table__spoiler">
                  <td colspan="4">
                    Технические характеристики планшета
                    <img src="img/arrow-down-red-icon.svg" width="16" height="16" alt="toggle">
                  </td>
                </tr>
                <tr>
                  <td>Операционная система</td>
                  <td>Android 4.4.2</td>
                  <td>Android 7.0</td>
                  <td>Android 7.0</td>
                </tr>
                <tr>
                  <td>Связь</td>
                  <td class="modal-table__item-sm">Wi-Fi (802.11 b/g/n), Беспроводная связь ВТ V2.1 + EDR Class1, HDMI 1.4a</td>
                  <td class="modal-table__item-sm">Wi-Fi (802.11 b/g/n), USB:2.0, Mini USB 2.0 Bluetooth V2.1 + EDR, Class1HDMI SD Card (Support up to 32 GB)</td>
                  <td class="modal-table__item-sm">Wi-Fi (802.11 b/g/n), USB:2.0, Mini USB 2.0 Bluetooth V2.1 + EDR, Class1HDMI SD Card (Support up to 32 GB)</td>
                </tr>
                <tr>
                  <td>Экран</td>
                  <td class="modal-table__item-sm">8-Inch Touchscreen, 1024*768 DPI/TFT-LCD ASAHI GLASS</td>
                  <td class="modal-table__item-sm">8-Inch Touchscreen, 1920*1200 DPI/TFT-LCD ASAHI GLASS</td>
                  <td class="modal-table__item-sm">8-Inch Touchscreen, 1920*1200 DPI/TFT-LCD ASAHI GLASS</td>
                </tr>
                <tr>
                  <td>Процессор</td>
                  <td class="modal-table__item-sm">1.3GHz + 1.7GHz, Samsung Exynos 6-Core, HEXA-CORE</td>
                  <td class="modal-table__item-sm">2.3GHz + 1.7GHz, Qualcomm 660 8-core, OCTA-CORE</td>
                  <td class="modal-table__item-sm">2.3GHz + 1.7GHz, Qualcomm 660 8-core, OCTA-CORE</td>
                </tr>
                <tr>
                  <td>Память</td>
                  <td>64 GB/2 GB RAM</td>
                  <td>128GB SSD / 4GB RAM</td>
                  <td>128GB SSD / 4GB RAM</td>
                </tr>
                <tr>
                  <td>Дополнительная память</td>
                  <td>SD Card до 32GB</td>
                  <td>SD Card до 128GB</td>
                  <td>SD Card до 128GB</td>
                </tr>
                <tr>
                  <td>Батарея</td>
                  <td>10000 mAh</td>
                  <td>11600 mAh</td>
                  <td>11600 mAh</td>
                </tr>
                <tr>
                  <td>Камера</td>
                  <td>8MP Rear</td>
                  <td>16MP Rear/5MP Front</td>
                  <td>16MP Rear/5MP Front</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button class="modal__close" data-modal-close><img src="img/close-icon.svg" width="21" height="21"
              alt="Закрыть окно"></button>
        </div>
      </div>
    </div>
  </div>
</div>
