<div class="modal modal-complect" id="modal-complect-1" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__scroll-wrapper" data-simplebar>
      <div class="modal__inner">
        <div class="modal__content">
          <h2 class="modal-complect__title section-title centered">комплектация <span>MaxiSys</span> MS906</h2>
          <div class="modal-complect__inner" data-show-more-parent>
            <ul class="modal-complect__list">
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-1.avif 1x, img/complect-1@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-1.webp 1x, img/complect-1@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-1.png" srcset="img/complect-1.png 1x, img/complect-1@2x.png 2x"
                        width="143" height="117" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Ткань для очистки&nbsp;экрана</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-21.avif 1x, img/complect-21@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-21.webp 1x, img/complect-21@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-21.png" srcset="img/complect-21.png 1x, img/complect-21@2x.png 2x"
                        width="169" height="105" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер для <br> вторичной цепи</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-3.avif 1x, img/complect-3@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-3.webp 1x, img/complect-3@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-3.png" srcset="img/complect-3.png 1x, img/complect-3@2x.png 2x"
                        width="170" height="110" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Диагностический сканер Autel MaxiSys MS906 Pro</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-22.avif 1x, img/complect-22@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-22.webp 1x, img/complect-22@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-22.png" srcset="img/complect-22.png 1x, img/complect-22@2x.png 2x"
                        width="129" height="91" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер Benz-14</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-5.avif 1x, img/complect-5@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-5.webp 1x, img/complect-5@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-5.png" srcset="img/complect-5.png 1x, img/complect-5@2x.png 2x"
                        width="171" height="118" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кейс для хранения</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-23.avif 1x, img/complect-23@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-23.webp 1x, img/complect-23@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-23.png" srcset="img/complect-23.png 1x, img/complect-23@2x.png 2x"
                        width="120" height="90" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер Benz-38</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-21.avif 1x, img/complect-21@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-21.webp 1x, img/complect-21@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-21.png" srcset="img/complect-21.png 1x, img/complect-21@2x.png 2x"
                        width="169" height="105" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер для <br> вторичной цепи</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-24.avif 1x, img/complect-24@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-24.webp 1x, img/complect-24@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-24.png" srcset="img/complect-24.png 1x, img/complect-24@2x.png 2x"
                        width="122" height="90" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер Honda-3</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-9.avif 1x, img/complect-9@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-9.webp 1x, img/complect-9@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-9.png" srcset="img/complect-9.png 1x, img/complect-9@2x.png 2x"
                        width="125" height="105" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Осциллограф MaxiScope</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-10.avif 1x, img/complect-10@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-10.webp 1x, img/complect-10@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-10.png" srcset="img/complect-10.png 1x, img/complect-10@2x.png 2x"
                        width="86" height="112" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Руководство по <br> быстрому запуску</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">1 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-11.avif 1x, img/complect-11@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-11.webp 1x, img/complect-11@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-11.png" srcset="img/complect-11.png 1x, img/complect-11@2x.png 2x"
                        width="78" height="112" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Лист комплектации</div>
                </a>
              </li>
              <li class="modal-complect__item">
                <a class="modal-complect__item-inner" href="#" target="_blank">
                  <div class="modal-complect__count">2 шт.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-12.avif 1x, img/complect-12@2x.avif 2x" type="image/avif">
                      <source srcset="img/complect-12.webp 1x, img/complect-12@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-12.png" srcset="img/complect-12.png 1x, img/complect-12@2x.png 2x"
                        width="116" height="73" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Крокодиловые <br> зажимы маленькие</div>
                </a>
              </li>
            </ul>
            <div class="modal-complect__btn centered">
              <button class="btn-link" data-show-more>Смотреть всё</button>
            </div>
          </div>
          <button class="modal__close" data-modal-close>@include('../../img/close-icon.svg')</button>
        </div>
      </div>
    </div>
  </div>
</div>
