<section class="complect section-offset">
  <div class="container">
    <div class="complect__inner">
      <h2 class="section-title centered">94 марок авто в комплекте</h2>
      <p class="complect__subtitle section-subtitle centered">Поддержка диагностики актуальных марок автомобилей</p>
      <ul class="complect__list">
        <li class="complect__item">
          <div class="complect__name">Европа</div>
          <p>EU Ford, Renault, Abarth, Alfa Romeo, Bugatti, Opel, Vauxhall, Saab, Land Rover, Jaguar, Mercedes Benz, Mercedes Benz
          Sprinter...и др.</p>
        </li>
        <li class="complect__item">
          <div class="complect__name">Южная Корея</div>
          <p>Hyundai, Kia, SsangYong, Daewoo, Hyundai CV,&nbsp;Samsung</p>
        </li>
        <li class="complect__item">
          <div class="complect__name">Япония</div>
          <p>Honda, Suzuki, Isuzu, Acura, Nissan, Infiniti, Toyota, Lexus, Scion, Mitsubishi, Subaru, Daihatsu, Mazda; Nissan GTR,
          Fuso, HINO, UD</p>
        </li>
        <li class="complect__item">
          <div class="complect__name">Китай</div>
          <p>Byd, Chery, Geely, Brilliance, Great Wall, Foton, Borgward, MG, DFSK, Zotye, Emgrand, LDV, Saicmg, BAIC Motor, BAIC
          Senova, DFFG, Jac</p>
        </li>
        <li class="complect__item">
          <div class="complect__name">США</div>
          <p>Chrysler, Jeep, GM, Dodge, Ford</p>
        </li>
        <li class="complect__item">
          <div class="complect__name">СНГ</div>
          <p>ВАЗ, ГАЗ, ИЖ, КАМАЗ, МАЗ, ПАЗ, СеАЗ,&nbsp;УАЗ,&nbsp;ЗАЗ</p>
        </li>
      </ul>
      <div class="centered">
        <button class="btn">ТАБЛИЦЫ ПРИМЕНЯЕМОСТИ АВТОСКАНЕРА</button>
      </div>
    </div>
  </div>
</section>
