<section class="examples section-offset">
  <div class="container container--sm">
    <div class="examples__inner">
      <h3 class="section-title centered">Примеры новых возможностей</h3>
      <p class="examples__subtitle section-subtitle centered">Расширенные возможности кодирования для BMW</p>
      <ul class="examples__list cards__list">
        <li class="cards__item">
          <div class="cards__item-inner">
            <div class="cards__icon">
              <img src="img/lock-icon.svg" width="32" height="32" alt="lock">
            </div>
            <div class="cards__info">
              <div class="cards__name">Поддержка кодирования BMW 3 и 4 серии</div>
              <p>В кузовах G22, G23, G26, G42, G80, G82, G83</p>
            </div>
          </div>
        </li>
        <li class="cards__item">
          <div class="cards__item-inner">
            <div class="cards__icon">
              <img src="img/car-police-icon.svg" width="32" height="32" alt="car">
            </div>
            <div class="cards__info">
              <div class="cards__name">Поддержка функций Retrofit</div>
              <p>Mercedes Benz CLS 218</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="centered">
        <button class="btn" data-video-src="video/video-2.mp4" data-video-trigger data-modal-open="modal-video">смотреть видео</button>
      </div>
    </div>
  </div>
</section>
