<footer class="footer">
  <div class="container container--lg">
    <div class="footer__inner">
      <div class="footer__logo-wrapper footer__col">
        <div class="footer__logo">
          <img src="img/logo-footer.svg" width="166" height="26" alt="footer-logo">
        </div>
        <div class="footer__address">ул. Красноткацкая, 90, 35, Киев, 02000</div>
      </div>
      <ul class="footer__list footer__col">
        <li><a href="#benefits" data-scroll>Преимущества</a></li>
        <li><a href="#compare" data-scroll>Сравнение</a></li>
        <li><a href="#garanty" data-scroll>Гарантии</a></li>
      </ul>
      <ul class="footer__list footer__col">
        <li><a href="#study" data-scroll>Обучение</a></li>
        <li><a href="#partners" data-scroll>Партнеры</a></li>
      </ul>
      <ul class="footer__list footer__col">
        <li><a href="tel:0503795456">050 379 54 56</a></li>
        <li><a href="mailto:info@autel-ukraine.com.ua">info@autel-ukraine.com.ua</a></li>
      </ul>
      <ul class="footer__socials footer__col">
        <li><a href="#"><img src="img/youtube-icon.svg" width="21" height="20" alt="youtube"></a></li>
        <li><a href="#"><img src="img/instagram-icon.svg" width="21" height="20" alt="instagram"></a></li>
        <li><a href="#"><img src="img/facebook-icon.svg" width="21" height="20" alt="facebook"></a></li>
      </ul>
    </div>
    <div class="footer__bottom">
      <p>Autel-Ukraine Copyright © 2022</p>
      <p>Договор оферты</p>
      <p>Политика конфиденциальности</p>
    </div>
  </div>
</footer>
