<header class="header">
  <div class="container">
    <div class="menu" data-menu>
      <nav class="nav" title="site navigation">
        <ul class="nav__list">
          <li class="nav__item"><a href="#section-1" data-menu-item data-scroll>dasdasd</a></li>
          <li class="nav__item"><a href="#section-2" data-menu-item data-scroll>213123</a></li>
          <li class="nav__item"><a href="#section-3" data-menu-item data-scroll>dasdas</a></li>
        </ul>
      </nav>
    </div>
    <button class="burger" data-burger aria-label="Открыть меню">
      <span class="burger__line"></span>
    </button>
    <div class="overlay" data-menu-overlay></div>
  </div>
</header>
