<header class="header">
  <div class="header__top">
    <div class="header__top-container container container--lg">
      <a class="header__logo header__col" href="./">
        <img width="203" height="40" src="img/logo.svg" alt="autel">
      </a>
      <nav class="nav" title="site navigation">
        <ul class="nav__list">
          <li class="nav__item"><a href="#" data-menu-item>О компании</a></li>
          <li class="nav__item"><a href="#" data-menu-item>Где купить</a></li>
          <li class="nav__item"><a href="#" data-menu-item>Блог</a></li>
          <li class="nav__item"><a href="#" data-menu-item>Курсы</a></li>
          <li class="nav__item nav__item--submenu">
            <a href="#"><span>Продукты</span></a>
            <ul>
              <li><a href="#" data-menu-item>GrunBaum</a></li>
              <li><a href="#" data-menu-item>Jaltest</a></li>
              <li><a href="#" data-menu-item>BrainStorm</a></li>
            </ul>
          </li>
          <li class="nav__item"><a href="#" data-menu-item>Контакты</a></li>
        </ul>
      </nav>
      <a class="header__btn" href="#">Магазин</a>
      <button class="burger" data-burger aria-label="Открыть меню">
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__bottom-container container container--lg">
      <div class="header__col"></div>
      <nav class="nav" title="site navigation">
        <ul class="nav__list">
          <li class="nav__item nav__item--hover-accent"><a href="#benefits" data-menu-item data-scroll>Преимущества</a></li>
          <li class="nav__item nav__item--hover-accent"><a href="#compare" data-menu-item data-scroll>Сравнение</a></li>
          <li class="nav__item nav__item--hover-accent"><a href="#garanty" data-menu-item data-scroll>Гарантии</a></li>
          <li class="nav__item nav__item--hover-accent"><a href="#study" data-menu-item data-scroll>Обучение</a></li>
          <li class="nav__item nav__item--hover-accent"><a href="#partners" data-menu-item data-scroll>Партнеры</a></li>
        </ul>
      </nav>
      <a class="header__phone" href="tel:0503795456">050 379 54 56</a>
      <a class="header__link btn-link" href="#">Пройдите тест-драйв</a>
    </div>
  </div>
  <div class="menu" data-menu>
  </div>
  <div class="overlay" data-menu-overlay></div>
</header>
