<section class="hero section-offset">
  <div class="container">
    <div class="hero__inner">
      <h1 class="hero__title section-title centered">Линейка автосканеров MaxiSys MS906</h1>
      <h5 class="hero__subtitle centered">Для профессиональных постов автодиагностики</h5>
      <div class="hero__img">
        <picture>
          <source srcset="img/hero-items.avif 1x, img/hero-items@2x.avif 2x">
          <source srcset="img/hero-items.webp 1x, img/hero-items@2x.webp 2x">
          <img loading="lazy" src="img/hero-items.png" srcset="img/hero-items.png 1x, img/hero-items@2x.png 2x"
            width="1080" height="577" alt="Линейка автосканеров MaxiSys MS906">
        </picture>
      </div>
      <div class="hero__items">
        <div class="hero__item">MaxiSys MS906 Pro</div>
        <div class="hero__item">MaxiSys MS906 Pro MAX</div>
        <div class="hero__item">MaxiSys MS906S</div>
      </div>
      <div class="hero-benefits">
        <ul class="hero-benefits__list">
          <li class="hero-benefits__item">
            <div class="hero-benefits__icon">
              <img src="img/wrench-icon.svg" width="24" height="24" alt="wrench">
            </div>
            <div class="hero-benefits__text">На 30% производительнее MaxiSys MS906BT</div>
          </li>
          <li class="hero-benefits__item">
            <div class="hero-benefits__icon">
              <img src="img/car-icon.svg" width="24" height="24" alt="car">
            </div>
            <div class="hero-benefits__text">Новые функции кодирования ECU</div>
          </li>
          <li class="hero-benefits__item">
            <div class="hero-benefits__icon">
              <img src="img/check-circle-icon.svg" width="24" height="24" alt="check">
            </div>
            <div class="hero-benefits__text">Удаленный помощник REMOTE EXPERT</div>
          </li>
          <li class="hero-benefits__item">
            <div class="hero-benefits__icon">
              <img src="img/battery-icon.svg" width="24" height="24" alt="battery">
            </div>
            <div class="hero-benefits__text">Функции диагностики систем энергообеспечения автомобилей</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
