<section class="hero section">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__img">
        <picture>
          <source srcset="img/hero-items.avif 1x, img/hero-items@2x.avif 2x">
          <source srcset="img/hero-items.webp 1x, img/hero-items@2x.webp 2x">
          <img loading="lazy" src="img/hero-items.png" srcset="img/hero-items.png 1x, img/hero-items@2x.png 2x"
            width="1080" height="577" alt="Линейка автосканеров MaxiSys MS906">
        </picture>
      </div>
    </div>
  </div>
</section>
