<section class="maxiscope section-offset">
  <div class="container">
    <div class="maxiscope__inner">
      <h2 class="maxiscope__title section-title centered">MaxiScope MP408 для версии <span>MaxiSys</span> MS906 Pro MAX</h2>
      <p class="maxiscope__subtitle section-subtitle centered">Компактный 4-канальный автоматический осциллограф</p>
      <div class="maxiscope__content">
        <div class="maxiscope__col">
          <div class="maxiscope__item">
            <div class="maxiscope__value">4 СН</div>
            <p>канала</p>
          </div>
          <div class="maxiscope__item">
            <div class="maxiscope__value">20 МГц</div>
            <p>частота на канал</p>
          </div>
        </div>
        <div class="maxiscope__img">
          <picture>
            <source srcset="img/maxiscope.avif 1x, img/maxiscope@2x.avif 2x">
            <source srcset="img/maxiscope.webp 1x, img/maxiscope@2x.webp 2x">
            <img loading="lazy" src="img/maxiscope.png" srcset="img/maxiscope.png 1x, img/maxiscope@2x.png 2x" width="608" height="342" alt="maxiscope">
          </picture>
        </div>
        <div class="maxiscope__col">
          <div class="maxiscope__item">
            <div class="maxiscope__value">200 В</div>
            <p>предел измерения</p>
          </div>
          <div class="maxiscope__item">
            <div class="maxiscope__value">32 Мб</div>
            <p>память буфера</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
