<div class="modal" id="modal-complect-1" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <div class="modal__content">
        <h2 class="section-title">комплектация <span>MaxiSys</span> MS906 Pro Max</h2>

        <button class="modal__close" data-modal-close><img src="img/close-icon.svg" width="21" height="21"
            alt="Закрыть окно"></button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal-complect-2" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <div class="modal__content">
        <h1>Modal complect 2</h1>
        <button class="modal__close" data-modal-close><img src="img/close-icon.svg" width="21" height="21"
            alt="Закрыть окно"></button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal-complect-3" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <div class="modal__content">
        <h1>Modal complect 3</h1>
        <button class="modal__close" data-modal-close><img src="img/close-icon.svg" width="21" height="21"
            alt="Закрыть окно"></button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal-characteristics" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <div class="modal__content">
        <h1>Modal window</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt ipsum beatae laboriosam id natus!
          Similique dignissimos veritatis ducimus hic! Delectus, mollitia obcaecati dolor dolorum tempora nemo iusto id
          amet provident.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt ipsum beatae laboriosam id natus!
          Similique dignissimos veritatis ducimus hic! Delectus, mollitia obcaecati dolor dolorum tempora nemo iusto id
          amet provident.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt ipsum beatae laboriosam id natus!
          Similique dignissimos veritatis ducimus hic! Delectus, mollitia obcaecati dolor dolorum tempora nemo iusto id
          amet provident.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt ipsum beatae laboriosam id natus!
          Similique dignissimos veritatis ducimus hic! Delectus, mollitia obcaecati dolor dolorum tempora nemo iusto id
          amet provident.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt ipsum beatae laboriosam id natus!
          Similique dignissimos veritatis ducimus hic! Delectus, mollitia obcaecati dolor dolorum tempora nemo iusto id
          amet provident.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt ipsum beatae laboriosam id natus!
          Similique dignissimos veritatis ducimus hic! Delectus, mollitia obcaecati dolor dolorum tempora nemo iusto id
          amet provident.</p>
        <button class="modal__close" data-modal-close><img src="img/close-icon.svg" width="21" height="21"
            alt="Закрыть окно"></button>
      </div>
    </div>
  </div>
</div>
