<section class="partners section-offset">
  <div class="container container--lg">
    <div class="partners__inner">
      <h2 class="partners__title section-title">Наши партнеры</h2>
      <p class="partners__subtitle section-subtitle">Выбирайте представителя в вашем регионе</p>
      <div class="partners__content" data-tabs-container>
        <ul class="partners__tabs">
          <li><a class="is-active" href="#" data-tabs-trigger data-tabs="0">Вся Украина</a></li>
          <li><a href="#" data-tabs-trigger data-tabs="1">Киев</a></li>
          <li><a href="#" data-tabs-trigger data-tabs="2">Ирпень</a></li>
          <li><a href="#" data-tabs-trigger data-tabs="3">Винница</a></li>
          <li><a href="#" data-tabs-trigger data-tabs="4">Ровно</a></li>
          <li><a href="#" data-tabs-trigger data-tabs="5">Хмельницкий</a></li>
          <li><a href="#" data-tabs-trigger data-tabs="6">Львов</a></li>
        </ul>
        <div class="partners__tabs-content">
          <div class="partners__tabs-item is-active" data-show-more-parent data-tabs-content data-tabs="0">
            @include('partners-items.html')
            <div class="centered">
              <button class="btn-link" data-show-more data-more="Смотреть больше" data-less="Смотреть меньше">Смотреть больше</button>
            </div>
          </div>
          <div class="partners__tabs-item" data-show-more-parent data-tabs-content data-tabs="1">
            @include('partners-items.html')
            <div class="centered">
              <button class="btn-link" data-show-more data-more="Смотреть больше" data-less="Смотреть меньше">Смотреть больше</button>
            </div>
          </div>
          <div class="partners__tabs-item" data-show-more-parent data-tabs-content data-tabs="2">
            @include('partners-items.html')
            <div class="centered">
              <button class="btn-link" data-show-more data-more="Смотреть больше" data-less="Смотреть меньше">Смотреть больше</button>
            </div>
          </div>
          <div class="partners__tabs-item" data-show-more-parent data-tabs-content data-tabs="3">
            @include('partners-items.html')
            <div class="centered">
              <button class="btn-link" data-show-more data-more="Смотреть больше" data-less="Смотреть меньше">Смотреть больше</button>
            </div>
          </div>
          <div class="partners__tabs-item" data-show-more-parent data-tabs-content data-tabs="4">
            @include('partners-items.html')
            <div class="centered">
              <button class="btn-link" data-show-more>Смотреть больше</button>
            </div>
          </div>
          <div class="partners__tabs-item" data-show-more-parent data-tabs-content data-tabs="5">
            @include('partners-items.html')
            <div class="centered">
              <button class="btn-link" data-show-more data-more="Смотреть больше" data-less="Смотреть меньше">Смотреть больше</button>
            </div>
          </div>
          <div class="partners__tabs-item" data-show-more-parent data-tabs-content data-tabs="6">
            @include('partners-items.html')
            <div class="centered">
              <button class="btn-link" data-show-more data-more="Смотреть больше" data-less="Смотреть меньше">Смотреть больше</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
