<ul class="partners__items">
  <li class="partners__item">
    <div class="partners__img">
      <picture>
        <source srcset="img/partners-1.avif 1x, img/partners-1@2x.avif 2x" type="image/avif">
        <source srcset="img/partners-1.webp 1x, img/partners-1@2x.webp 2x" type="image/webp">
        <img loading="lazy" src="img/partners-1.jpg" srcset="img/partners-1.jpg 1x, img/partners-1@2x.jpg 2x"
          width="113" height="40" alt="elit">
      </picture>
    </div>
    <ul class="partners__contacts">
      <li>
        <a href="tel:+380443894433">
          <div class="partners__contacts-icon">
            <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
          </div>
          <span>+380 44 389-44-33</span>
        </a>
      </li>
      <li>
        <a href="mailto:elit@elit.ua">
          <div class="partners__contacts-icon">
            <img src="img/email-icon.svg" width="13" height="13" alt="email">
          </div>
          <span>elit@elit.ua</span>
        </a>
      </li>
    </ul>
    <a class="partners__btn" href="#">Перейти на сайт</a>
  </li>
  <li class="partners__item">
    <div class="partners__img">
      <picture>
        <source srcset="img/partners-2.avif 1x, img/partners-2@2x.avif 2x" type="image/avif">
        <source srcset="img/partners-2.webp 1x, img/partners-2@2x.webp 2x" type="image/webp">
        <img loading="lazy" src="img/partners-2.jpg" srcset="img/partners-2.jpg 1x, img/partners-2@2x.jpg 2x"
          width="164" height="36" alt="car electro">
      </picture>
    </div>
    <ul class="partners__contacts">
      <li>
        <a href="tel:+380443894433">
          <div class="partners__contacts-icon">
            <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
          </div>
          <span>+380 44 389-44-33</span>
        </a>
      </li>
      <li>
        <a href="mailto:elit@elit.ua">
          <div class="partners__contacts-icon">
            <img src="img/email-icon.svg" width="13" height="13" alt="email">
          </div>
          <span>elit@elit.ua</span>
        </a>
      </li>
    </ul>
    <a class="partners__btn" href="#">Перейти на сайт</a>
  </li>
  <li class="partners__item">
    <div class="partners__img">
      <picture>
        <source srcset="img/partners-3.avif 1x, img/partners-3@2x.avif 2x" type="image/avif">
        <source srcset="img/partners-3.webp 1x, img/partners-3@2x.webp 2x" type="image/webp">
        <img loading="lazy" src="img/partners-3.jpg" srcset="img/partners-3.jpg 1x, img/partners-3@2x.jpg 2x"
          width="136" height="37" alt="icarpc">
      </picture>
    </div>
    <ul class="partners__contacts">
      <li>
        <a href="tel:+380443894433">
          <div class="partners__contacts-icon">
            <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
          </div>
          <span>+380 44 389-44-33</span>
        </a>
      </li>
      <li>
        <a href="mailto:elit@elit.ua">
          <div class="partners__contacts-icon">
            <img src="img/email-icon.svg" width="13" height="13" alt="email">
          </div>
          <span>elit@elit.ua</span>
        </a>
      </li>
    </ul>
    <a class="partners__btn" href="#">Перейти на сайт</a>
  </li>
  <li class="partners__item">
    <div class="partners__img">
      <picture>
        <source srcset="img/partners-1.avif 1x, img/partners-1@2x.avif 2x" type="image/avif">
        <source srcset="img/partners-1.webp 1x, img/partners-1@2x.webp 2x" type="image/webp">
        <img loading="lazy" src="img/partners-1.jpg" srcset="img/partners-1.jpg 1x, img/partners-1@2x.jpg 2x"
          width="113" height="40" alt="elit">
      </picture>
    </div>
    <ul class="partners__contacts">
      <li>
        <a href="tel:+380443894433">
          <div class="partners__contacts-icon">
            <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
          </div>
          <span>+380 44 389-44-33</span>
        </a>
      </li>
      <li>
        <a href="mailto:elit@elit.ua">
          <div class="partners__contacts-icon">
            <img src="img/email-icon.svg" width="13" height="13" alt="email">
          </div>
          <span>elit@elit.ua</span>
        </a>
      </li>
    </ul>
    <a class="partners__btn" href="#">Перейти на сайт</a>
  </li>
  <li class="partners__item">
    <div class="partners__img">
      <picture>
        <source srcset="img/partners-2.avif 1x, img/partners-2@2x.avif 2x" type="image/avif">
        <source srcset="img/partners-2.webp 1x, img/partners-2@2x.webp 2x" type="image/webp">
        <img loading="lazy" src="img/partners-2.jpg" srcset="img/partners-2.jpg 1x, img/partners-2@2x.jpg 2x"
          width="164" height="36" alt="car electro">
      </picture>
    </div>
    <ul class="partners__contacts">
      <li>
        <a href="tel:+380443894433">
          <div class="partners__contacts-icon">
            <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
          </div>
          <span>+380 44 389-44-33</span>
        </a>
      </li>
      <li>
        <a href="mailto:elit@elit.ua">
          <div class="partners__contacts-icon">
            <img src="img/email-icon.svg" width="13" height="13" alt="email">
          </div>
          <span>elit@elit.ua</span>
        </a>
      </li>
    </ul>
    <a class="partners__btn" href="#">Перейти на сайт</a>
  </li>
  <li class="partners__item">
    <div class="partners__img">
      <picture>
        <source srcset="img/partners-3.avif 1x, img/partners-3@2x.avif 2x" type="image/avif">
        <source srcset="img/partners-3.webp 1x, img/partners-3@2x.webp 2x" type="image/webp">
        <img loading="lazy" src="img/partners-3.jpg" srcset="img/partners-3.jpg 1x, img/partners-3@2x.jpg 2x"
          width="136" height="37" alt="icarpc">
      </picture>
    </div>
    <ul class="partners__contacts">
      <li>
        <a href="tel:+380443894433">
          <div class="partners__contacts-icon">
            <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
          </div>
          <span>+380 44 389-44-33</span>
        </a>
      </li>
      <li>
        <a href="mailto:elit@elit.ua">
          <div class="partners__contacts-icon">
            <img src="img/email-icon.svg" width="13" height="13" alt="email">
          </div>
          <span>elit@elit.ua</span>
        </a>
      </li>
    </ul>
    <a class="partners__btn" href="#">Перейти на сайт</a>
  </li>
  <li class="partners__item">
    <div class="partners__img">
      <picture>
        <source srcset="img/partners-3.avif 1x, img/partners-3@2x.avif 2x" type="image/avif">
        <source srcset="img/partners-3.webp 1x, img/partners-3@2x.webp 2x" type="image/webp">
        <img loading="lazy" src="img/partners-3.jpg" srcset="img/partners-3.jpg 1x, img/partners-3@2x.jpg 2x"
          width="136" height="37" alt="icarpc">
      </picture>
    </div>
    <ul class="partners__contacts">
      <li>
        <a href="tel:+380443894433">
          <div class="partners__contacts-icon">
            <img src="img/phone-icon.svg" width="13" height="13" alt="phone">
          </div>
          <span>+380 44 389-44-33</span>
        </a>
      </li>
      <li>
        <a href="mailto:elit@elit.ua">
          <div class="partners__contacts-icon">
            <img src="img/email-icon.svg" width="13" height="13" alt="email">
          </div>
          <span>elit@elit.ua</span>
        </a>
      </li>
    </ul>
    <a class="partners__btn" href="#">Перейти на сайт</a>
  </li>
</ul>
