<section class="video section-offset">
  <div class="video__container container container--lg @classes" style="background-image: url('@preview');">
    <div class="video__inner">
      <button class="btn-reset player-icon video__play" type="button">
        <img src="img/play-circle-icon.svg" alt="Play">
      </button>
      <h2 class="video__title section-title centered">ДИЛЕРСКИЙ УРОВЕНЬ ДИАГНОСТИКИ</h2>
      <h5 class="video__subtitle section-subtitle centered">Для всех электронных систем 94 марок ЕВРОПЫ, АЗИИ, США и СНГ</h5>
    </div>
  </div>
</section>
